body {
  background-color: #141414;
}

.content {
  padding-top: 80px;
}


/* HEADER JOAO */

header{
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.185);
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 5;
}

.menu{
  margin-left: 5rem;
}

.menu a{
  font-size: 16px;
  padding: 5px;
  color: white;
  text-decoration: none;
  line-height: 80px;
}

.menu a:hover{
  color: #858585;
}

.logo-img{
  height: 40px;
  margin-left: 5rem;
}

.dropdown {
  margin-right: 8rem;
  margin-left: auto;
}

.dropbtn {
  background: url(../images/profile.jpg);
  background-size: 40px;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 15%;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-right: auto;
  background-color: rgb(70, 67, 67);
  min-width: 160px;
  border: 1px solid gray;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(211, 211, 211, 0.541);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media(max-width: 900px){
  .logo-img{
      height: 30%;
  }

  .menu{
      font-size: 10px;
      color: black;
      padding-top: 30px;
  }

  .dropbtn{
      background-size: 25px;
      padding: 15px;
  }

  .menu a{
    font-size: 14px;
    line-height: 100%;
  }

  .dropdown-content {
      min-width: 80px;
  }

  .dropdown-content a {
      padding: 6px 8px;
      font-size: 10px;
  }
}

#form-altCadastro {
  width: 450px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8%;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(114, 106, 106, 0.452);
  padding: 30px;
  border-radius: 2%;
  box-shadow: 0 0 10px rgb(112, 109, 109);
}

#form-altCadastro p{
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#form-altCadastro input{
  border-radius: 3px;
  border: 1px solid darkgray;
  width: 90%;
  height: 20px;
  margin-bottom: 5px;
  padding: 20px;
  outline: none;
}

#bContinuar {
  width: 100%;
  height: 54px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-top: 10px;
}

#bContinuar:hover{
  cursor: pointer;
}