body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #141414;
	overflow-x: hidden;
  position: relative;
}

header {
  width: 100%;
  height: 70px;
  padding: 0px 60px 0px 60px;
  background-color: black;
  display: flex;
  align-content: space-around;
}

.content .movieCard{
  display: inline-block
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 6px;
}

a:link {
  color: #e5e5e5;
}

a:visited {
  color: #e5e5e5;
}

li {
  list-style-type: circle;
}

.logo {
  width: 92px;
  align-self: center;
  margin-top: 15px;
  margin-right: 35px;
}

/* Style The Dropdown Button */
.dropbtn {
  margin-left: 900px;
  margin-top: 10px;
  background: url(../images/profile.jpg);
  background-size: 45px;
  background-color: #4CAF50;
  color: white;
  padding: 25px;
  border: none;
  cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-left: 900px;
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #141313;
    min-width: 160px;
    z-index: 1;
    border: 1px solid gray;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    text-decoration: underline;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

.titulo {
  font-size: 24px;
  color: #E5E5E5;
  margin-left: 65px;
}

.titulo:hover {
  color: #fff;
}

.movieCard{
  float: left;
  z-index: 1;
  position: relative;
  width: 420px;
  height: 400px;
  background-color: red;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
  margin: 10px;
}

.movieImage {
  border-radius: 8px 8px 0 0;
  height: 60%;
  background-color: blue;
  background-size: 100%;
  background-repeat: no-repeat;
}

.movieCardData {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background-color: #181818;
  border-radius: 0 0 8px 8px;
}

.movieCardButton {
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.movieCardInfo p{
  margin: 0 0 20px 20px;
}

.indicativa {
  width: 20px;
}

.generos{
  color: white;
  font-size: 18px;
}

.menu {
  align-self: center;
}

.movieInfo-container {
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.700);
  z-index: 2;
  position: fixed;
  top: 0;
}

.movieInfo {
  margin: auto;
  border-radius: 0.5%;
  background-color: gray;
  width: 975px;
  height: 100%;
  margin-top: 25px;
}

.teaser {
  background-color: #181818;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 525px;
  border-radius: 0.5% 0.5% 0 0;
  position: relative;
}

.trailer {
  position: absolute;
}

.teaser img {
  width: 375px;
  position: absolute;
  left: 0;
  margin-top: 250px;
  margin-left: 0px;
  z-index: 2;
}

.movieControl {
  height: 500px;
  width: 500px;
}

.movieButtons {
  position: absolute;
  bottom: 0;
  margin: 0 0 50px 50px;
  z-index: 2;
}

.movieButtons i {
  font-size: 20px;
}


.bClose {
  position: absolute;
  z-index: 2;
  right: 0;
  margin: 25px;
}

.bClose i {
  font-size: 20px;
}

.bPlay {
  width: 175px;
  height: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: 700px;
  padding-left: 40px;
  background-color: white;
}

.bPlay:hover{
  background-color: #E6E6E6;
  cursor: pointer;
}

.bPlay i {
  margin-right: 15px;
}

.bCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.300);
  color: white;
  border: 2px solid #93928F;
}

.bCircle:hover {
  border: 2px solid white;
  cursor: pointer;
}


.gradient {
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(255, 255, 255, 0), #181818);
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  z-index: 1;
}

.info {
  background-color: #181818;
  width: 100%;
  height: 200px;
  display: flex;
  align-content: space-around;
  padding: 40px;
  box-sizing: border-box;
}

.info p, span {
  color: white;
}

.info1 {
  font-weight: 500;
  width: calc((100%/3)*2);
  height: 100%;
  font-size: 18px;
  padding-right: 20px;
}

.info1 div {
  margin-bottom: 15px;
}

.info2 {
  font-weight: 500;
  width: calc((100%/3));
  height: 100%;
  font-size: 14px;
  display: inline;
}

.info2 p:nth-child(1) {
  margin-top: 0;
}

.info2 span {
  color: #777;
  font-weight: 300;
}

.relevancia {
  color: #46d369;
}

#sinopse {
  line-height: 24px;
  font-size: 20px;
} 