body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/loginBackground.jpg');
}

header {
    width: 100%;
    height: 100px;
}

header img {
    width: 170px;
    padding-left: 55px;
    padding-top: 30px;

}

.login-box {
    padding: 0px 60px 0px 60px;
    width: 320px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.800);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 3px;
}

.login-box h1 {
    color: #fff;
    font-size: 32px;
    margin: 50px 0px 35px 0px;
}

.entradas {
    width: 100%;
    height: 50px;
    margin-bottom: 14px;
    padding: 20px;
    border: none;
    border-radius: 6px;
}

/* .login-box button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
    height: 48px;
} */

.botao1 {
    width: 100%;
    height: 54px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    margin-top: 20px;
}

.login-box button:hover{
    cursor: pointer;
}

.loginbox-footer{
    position: relative;
    width: 100%;
    height: 50%;
    color: rgb(167, 167, 167);
}

.loginbox-footer span{
    font-size: 13px;
}

#ajuda{
    margin-top: 10px;
    color: rgb(167, 167, 167);
    float: right;
}

#ajuda:hover{
    text-decoration: underline;
}

#rememberPassword{
    margin-top: 10px;
}

.div-cadastro{
    margin-top: 60px
}

.div-cadastro span{
    font-size: 16px;
}

a:visited{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.800);
}

#cadastro{
    color: white;
}

#cadastro:hover{
    text-decoration: underline;
}

footer {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.800);
    width: 100%;
    height: 325px;
}