*{
    margin: 0px;
}

header {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid lightgray;
}

header img {
    width: 170px;
    margin-top: 20px;
    margin-left: 20px;
}

.login {
    float: right;
    width: 80px;
    margin-top: 30px;
}

.login-btn {
    color: rgb(49, 49, 49);
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.login-btn:link{
    text-decoration: none;
}

.login-btn:visited{
    text-decoration: none;
}

.login-btn:hover{
    text-decoration: underline;
}

.login-btn:active{
    text-decoration: underline;
}

.content {
    width: 100%;
    height: 750px;
    border-bottom: 1px solid lightgray;
}

#form-register {
    width: 450px;
    position: absolute;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tech {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 15%;
}

.step {
    text-align: center;
    font-size: 12px;
    margin: 0px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
}

#form-register input{
    border-radius: 3px;
    border: 1px solid darkgray;
    width: 90%;
    height: 20px;
    margin-bottom: 5px;
    padding: 20px;
}

#bContinuar {
    width: 100%;
    height: 54px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    margin-top: 10px;
}

#bContinuar:hover{
    cursor: pointer;
}

footer{
    width: 100%;
    height: 170px;
    display: block;
    background-color: #7c7c7c5d;
}